@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
:root {
  font-family: 'Noto Sans','Inter', Roboto Mono, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;
  color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

/* Page background and fixed-site wrapper */
 body {
  background-color: #dee3e8; /* Tailwind gray-50 */
  margin: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  



/* Use <div class="site">...</div> (wrap your app root) to get a fixed centered content width */
.site {
  max-width: 1200px; /* adjust as needed */
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

